@model ThuongMaiDienTu_v2.Models.SanPham
@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Sản phẩm chi tiết</h1>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-9 card ">
                <h1 style="color:red">@ViewBag.EditThanhCong</h1>
                <div class="card-header">
                    <strong>Sản phẩm</strong>
                </div>
                <div class="card-body card-block">                    
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                        @using (Html.BeginForm("ProductDetail", "Admin", FormMethod.Post, new { id = Model.SanPham_Id }))
                        {
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Tên sản phẩm</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" value="@Html.DisplayFor(model => model.SanPham_Name)" name="name" placeholder="Text" class="form-control"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Mô tả</label></div>
                                <div class="col-12 col-md-9"><textarea value=" @Html.DisplayFor(model => model.SanPham_description)" name="desc" id="textarea-input" rows="9" placeholder="Content..." class="form-control">@Model.SanPham_description</textarea></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="select" class=" form-control-label">Loại sản phẩm</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="typeID" id="select" class="form-control">
                                        <option value="@Model.Type_SanPham_id" style="background-color:black;color:white">
                                            @if (Model.Type_SanPham_id == 1)
                                            {
                                                <p>Tee</p>
                                            }
                                            @if (Model.Type_SanPham_id == 2)
                                            {
                                                <p>Pant</p>
                                            }
                                            @if (Model.Type_SanPham_id == 3)
                                            {
                                                <p>Jackket</p>
                                            }
                                            @if (Model.Type_SanPham_id == 4)
                                            {
                                                <p>Accessories</p>
                                            }
                                        </option>
                                        <option value="1">Tee</option>
                                        <option value="2">Pant</option>
                                        <option value="3">Jackket</option>
                                        <option value="3">Accessories</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Giá sản phẩm</label></div>
                                <div class="col-12 col-md-9"><input type="number" id="text-input" value="@Html.DisplayFor(model => model.SanPham_Price)" name="price" placeholder="VND" class="form-control"></div>
                            </div>
                            @*<div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Giá sale</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" value="@Html.DisplayFor(model => model.SanPham_priceSale)" name="priceSale" placeholder="VND" class="form-control"></div>
                            </div>*@

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh chính</label></div>
                                <div class="col-12 col-md-6">
                                    <input type="file" value="@Model.Main_img" name="imageUploader" onchange="ShowImg(this, document.getElementById('previewImg'))" />
                                </div>

                                <div class="col col-md-3"><img id="previewImg" class="ImgItemDemo" src="@Url.Content(Model.Main_img)" alt="Imgae product"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 1</label></div>
                                <div class="col-12 col-md-6">
                                    <input type="file" value="@Model.Img1" name="imageUploader2" onchange="ShowImg2(this, document.getElementById('previewImg2'))" />
                                </div>
                                <div class="col col-md-3"><img id="previewImg2" class="ImgItemDemo" src="@Url.Content(Model.Img1)" alt="Imgae product"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 2</label></div>
                                <div class="col-12 col-md-6">
                                    <input type="file" value="@Model.Img2" name="imageUploader3" onchange="ShowImg3(this, document.getElementById('previewImg3'))" />
                                </div>
                                <div class="col col-md-3"><img id="previewImg3" class="ImgItemDemo" src="@Url.Content(Model.Img2)" alt="Imgae product"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 3</label></div>
                                <div class="col-12 col-md-6">
                                    <input type="file" value="@Model.Img3" name="imageUploader4" onchange="ShowImg4(this, document.getElementById('previewImg4'))" />
                                </div>

                                <div class="col col-md-3"><img id="previewImg4" class="ImgItemDemo" src="@Url.Content(Model.Img3)" alt="Image product"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Ảnh 4</label></div>
                                <div class="col-12 col-md-6">
                                    <input type="file" value="@Model.Img4" name="imageUploader5" onchange="ShowImg5(this, document.getElementById('previewImg5'))" />
                                </div>
                                <div class="col col-md-3"><img id="previewImg5" class="ImgItemDemo" src="@Url.Content(Model.Img4)" alt="Imgae product"></div>
                            </div>
                            <br>
                            <button class="btnFixItem">CHỈNH SỮA</button>
                        }

                        <a onclick="return confirm('Bạn chắc chắc muốn xóa sản phẩm @Html.DisplayFor(a => Model.SanPham_Name)  ?') " href="@Url.Action("XoaSanPham", "Admin", new { id = Model.SanPham_Id })"><button class="btnDelItem">XOÁ</button></a>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title ">Bảng size</strong>
                        <a href="#" class="addItem"> <i class="fas fa-plus"></i> Thêm size</a>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Size</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S</td>
                                    <td>@Html.DisplayFor(a=>a.SanPhamDetail.S)</td>
                                </tr>
                                <tr>
                                    <td>M</td>
                                    <td>@Html.DisplayFor(a => a.SanPhamDetail.M)</td>
                                </tr>
                                <tr>
                                    <td>L</td>
                                    <td>@Html.DisplayFor(a => a.SanPhamDetail.L)</td>
                                </tr>
                                <tr>
                                    <td>XL</td>
                                    <td>@Html.DisplayFor(a => a.SanPhamDetail.XL)</td>
                                </tr>
                                <tr>
                                    <td>XXL</td>
                                    <td>@Html.DisplayFor(a => a.SanPhamDetail.XXL)</td>
                                </tr>
                                <!-- ---------------------- -->
                                <tr>
                                    <td style="font-weight: 700;">Tổng cộng</td>
                                    <td style="font-weight: 700;">@Html.DisplayFor(a => a.SoLuong)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="addItemModal hide">
    <div class="col-lg-6 card addItemModal_inner">
        <div class="card-header">
            <strong>Thêm sản phẩm</strong>
            <a href="#" class="close_modal"><i class="fas fa-times"></i></a>
        </div>
        <div class="card-body card-block">
            @using (Html.BeginForm("AddSize", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                
                @*@TempData["IdProductDetai1"] =TempData["IdProductDetai"];*@

                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Size</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="Size" placeholder="Nhập size" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Số lượng</label></div>
                    <div class="col-12 col-md-9"><input type="number" id="text-input" name="soLuong" placeholder="Nhập số lượng" class="form-control"></div>
                </div>
                <br>
                <button class="btnAddItem">THÊM</button>
            }
            @*<form action="" method="post" enctype="multipart/form-data" class="form-horizontal"></form>*@
        </div>
    </div>
</div>

